* {
    margin: 0;
    border:0;
    padding: 0;
  }
  :root {
    font-size: 16px;
    --DarkBlue: hsl(209, 23%, 22%);
    --VeryDarkBlueBackground: hsl(207, 26%, 17%);
    --VeryDarkBlueText: hsl(200, 15%, 8%);
    --DarkGrayInput: hsl(0, 0%, 52%);
    --VeryLightGrayBackground: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
   } 
  
   .container{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--VeryLightGrayBackground);
   }
   .main-body{

   }
   header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vw;
    background-color: var( --White);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }
   .dark-mode{
    margin-right: 2vw;
    display: flex;
   }
   .dark-mode img{
    width: 5vw;
   }
   #heading{
    font-family: "Roboto Flex", sans-serif;
    font-size: 6vw;
    margin-left: 2vw;
    font-weight: 600;
   }
   .dark-mode p{
    font-family: "Roboto Flex", sans-serif;
    font-size: 5vw;
   }
   .back{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-size: 4vw;
    margin-left: 8vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    top: 2vw;
   }
   .back a{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }
   .back img{
    
    width: 5vw;
   }
   .main-container{
   
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
    margin: 0 auto;
    margin-top: 5vw;
   }
   .country-image img{
    width: 80%;
    margin-left: 8vw;
    
  }
  .country-details{
    display: flex;
    flex-direction: column;
  }
  .country-desc{
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
  }
  .main-detail{
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }
  .country-name{
    font-family: "Roboto Flex", sans-serif;
  font-size: 5vw;
  font-weight: 600;
  padding: 2vw;
  }
  .country-regions{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2.3vw;
    margin-bottom: 1.5vw;
  }

  .population,.region,.sub-region,.capital,.native-name{
    display: flex;
    align-items: center;
    gap: 1.5vw;
  }
  .other-detail{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2.3vw;
    margin-bottom: 1.5vw;
  } 
  .tld,.currency,.Languages{
    display: flex;
    align-items: center;
    gap: 1.5vw;
  }
  .tld-text,.currencies,.languages-text{
width: 40%;
  }
  .languages-data,.currency-data,.tld-data{
    width: 60%;
  }
  .native-text,.country-population,.country-region,.country-subregion,.country-capital,.tld-text,.currencies,.languages-text{
    font-family: "Roboto Flex", sans-serif;
    font-size: 3vw;
    font-weight: 600;
  width: 50%;
   
  }

  .languages-data,.currency-data,.tld-data,.caital-name,.subregion-name,.region-name,.total-population,.native{
    font-family: "Roboto Flex", sans-serif;
    font-size: 3vw;
    width: 65%;
    
  }

  .country-borders{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2.3vw;
    margin-bottom: 7vw;
    margin-left: 7vw;
  }
  .border-countries{
    margin-top: 2vw;
    display: flex;
    width: 80%;
    gap: 1.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .border-text{
    font-family: "Roboto Flex", sans-serif;
    font-size: 4vw;
    font-weight: 600;

  }
 a{
  text-decoration: none;
  color: black;
 }
  .border-countries button{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  border: 0;
  outline: none;
  font-size: 4vw;
}

  @media (min-width:768px){
.container{
  max-width: 1440px;
}
.container{
  padding: 0 ;
margin: 0 auto;
}
    header{
          
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vw;
       }
       .dark-mode{
       
        margin-right: 1vw;
        display: flex;
       }
       .dark-mode img{
        width: 1.4vw;
       }
       #heading{
        font-family: "Roboto Flex", sans-serif;
        font-size: 3vw;
        font-weight: 600;
       }
       .dark-mode p{
        font-family: "Roboto Flex", sans-serif;
        font-size:1.4vw;
       }

       .back{
        
        font-size: 2vw;
        width: 10%;
       }
       .back img{
        font-size: 4vw;
    width: 2vw;
       }
       .main-container{
        margin-top: 2vw;
        flex-direction: row;
        margin-left: 0;
       }
       .country-image{
        width: 50%;
        margin-left: 0;
      
       }
       .country-image img{
           width: 77%;
    height: 86%;
    margin-left: 8vw;
  
       }
       .country-details{
        width: 50%;
        margin-left: 1vw;
       }
       .country-desc{
        flex-direction: row;
        margin-left: 2vw;

       }
       .country-name{
        font-family: "Roboto Flex", sans-serif;
      font-size: 1.5vw;
      font-weight: 600;
      padding: 1vw;
      }
      .native-text,.country-population,.country-region,.country-subregion,.country-capital,.tld-text,.currencies,.languages-text{
        font-family: "Roboto Flex", sans-serif;
        font-size: 1vw;
        font-weight: 600;
        width: 60%;
        
      }
      .languages-data,.currency-data,.tld-data,.caital-name,.subregion-name,.region-name,.total-population,.native{
        font-family: "Roboto Flex", sans-serif;
        font-size: 1vw;
        width: 65%;
      }
      .tld-text,.currencies,.languages-text{
        width: 60%;
          }
          .languages-data,.currency-data,.tld-data{
            width: 60%;
          }
      .border-countries p{
    
        width: 30%;
        font-family: "Roboto Flex", sans-serif;
        font-size: 1vw;
        text-align: center;
      }
      .main-detail{
        width: 50%;
        margin-top: 4vw;
        gap: 0.5vw;
      }
      .country-regions{
        gap: 1vw;
        padding: 1.1vw;
        margin-bottom: 1.5vw;
      }
      .other-detail{
        width: 50%;
        margin-top: 9.3vw;
        gap: 1vw;
        padding: 0vw;
        margin-bottom: 1.5vw;
      } 
      .country-borders{
        flex-direction: row;
        margin-left: 0;
        gap: 1vw;
        padding: 1.2vw;
        margin-bottom: 7vw;
      }
      .border-countries{
        margin-top: 0.3vw;
        width: 50%;
        gap: 1vw;
      }
      .border-text{
        font-family: "Roboto Flex", sans-serif;
        font-size: 1.2vw;
        font-weight: 600;
        margin-left: 2vw;
        width: 25%;
    
      }
      .border-countries button{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: white;
        border: 0;
        outline: none;
        width: 28%;
        font-size: 0.85vw;
      }
      
    
  }