* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  --DarkBlue: hsl(209, 23%, 22%);
  --VeryDarkBlueBackground: hsl(207, 26%, 17%);
  --VeryDarkBlueText: hsl(200, 15%, 8%);
  --DarkGrayInput: hsl(0, 0%, 52%);
  --VeryLightGrayBackground: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
 } 

 .container{
  padding:0 ;
 }

 header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }
 .dark-mode{
  margin-right: 2vw;
  display: flex;
 }
 .dark-mode img{
  width: 5vw;
 }
 #heading{
  font-family: "Roboto Flex", sans-serif;
  font-size: 6vw;
  font-weight: 600;
  margin-left: 2vw;
 }
 .dark-mode p{
  font-family: "Roboto Flex", sans-serif;
  font-size: 5vw;
 }
.main-container{
background-color:var(--VeryLightGrayBackground);
}
.top-area{
  display: flex;
  flex-direction: column;
}
.search{
  display: flex;
  
  padding: 3vw;
  width: 93%;
}
.search img{
  width: 5vw;
  padding: 2vw;

  
}
#search-input{
  padding: 5vw;
  width: 70%;
  border: 0;
  outline: none;
}
.search-button{
  width: 100%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: row;
}
.search-image{
  margin-top: 0.8vw;
}
.filter{
  width: 50%;
  padding: 1vw;
}
.filter-button{
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#filter{
  padding: 5vw;
  width: 100%;
  border: 0;
  outline: none;
  background-color: white;
}


.country-data{
  padding: 5vw;
  display: flex;
  flex-direction: column;
  gap: 6vw;

}
.country{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.country-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.country-desc{
    
}
.country-name{
  font-family: "Roboto Flex", sans-serif;
  font-size: 7vw;
  font-weight: 600;
  padding: 3vw;
}
.country-deatails{
  padding: 3vw;
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  margin-bottom: 3vw;
}
.population,.region,.capital{
  display: flex;
  align-items: center;
  gap: 2vw;
  
}
.country-population,.country-region,.country-capital{
  font-family: "Roboto Flex", sans-serif;
  font-size: 4vw;
  font-weight: 600;
}

.caital-name,.region-name,.total-population{
    font-family: "Roboto Flex", sans-serif;
    font-size: 3vw;
}

a{
  text-decoration: none;
  color: black;
}

@media (min-width:768px){
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }
   .dark-mode{
    display: flex;
   }
   .dark-mode img{
    width: 1.4vw;
   }
   #heading{
    font-family: "Roboto Flex", sans-serif;
    font-size: 3vw;
    font-weight: 600;
   }
   .dark-mode p{
    font-family: "Roboto Flex", sans-serif;
    font-size:1.4vw;
   }
  .top-area{
    flex-direction: row;
  }

  .search{
    display: flex;
    padding: 2vw;
    width: 70%;
  }
  .search img{
    width: 2vw;
    padding: 0.5vw;
  
    
  }
  #search-input{
    padding: 1.7vw;
    width: 80%;
    border: 0;
    outline: none;
  }
  .search-button{
    
    width: 60%;
    border-radius: 0.5vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .filter{
    width: 40%;
    padding: 2vw;
    display: flex;
    justify-content: flex-end;
    
  }
  .filter-button{
    width: 50%;
    display: flex;
    border-radius: 0.2vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     }
  #filter{
    padding: 1vw;
    width: 100%;
    border: 0;
    outline: none;
    background-color: white;
  }
  
  
.country-data{
  padding: 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4.5vw;

}
.country{
  width: 21%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.country-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.country-desc{
    
}
.country-name{
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  padding: 1vw;
}
.country-deatails{
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-bottom: 1.5vw;
}
.population,.region,.capital{
  display: flex;
  gap: 1vw;
  
}
.country-population,.country-region,.country-capital{
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
}

.caital-name,.region-name,.total-population{
    font-family: "Roboto Flex", sans-serif;
    font-size: 1vw;
}


}
